.shopping_container {
    width: 97%;
    height: 97vh;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    padding: 60px;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--grey);
    overflow: auto;
    border-radius: 10px;
    z-index: 101;
}

.fa-times {
    font-size: 30px;
    color: var(--pink);
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.shopping_title {
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 20px;
}

.shopping_catalog_div {
    border: 1px solid var(--grey);
    padding: 20px;
    border-radius: 10px;
}

.shopping_div {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px 0;
    width: 500px;
    justify-content: space-between;
}

.shopping_img {
    width: 80px;
    margin-right: 5px;
    border-radius: 7px;
}

.shopping_name {
    font-size: 18px;
    margin-right: 5px;
}

.shopping_price_one,
.shopping_price {
    font-size: 18px;
}

.input_group {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cart_quantity_input {
    width: 40px;
    padding: 2px 4px;
    font-size: 15px;
    outline: none;
    border: 2px solid var(--grey);
    border-radius: 3px;
    text-align: center;
    margin-left: 20px;
}

/* .btn_danger {
    color: var(--white);
    background-color: var(--pink);
    font-size: 15px;
    font-weight: 600;
    padding: 3px 4px;
    border: 1px solid var(--pink);
    border-radius: 2px;
    margin-left: 20px;
    margin-right: 5px;
    cursor: pointer;
} */

.shopping_sum_div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15px;
    width: 500px;
}

.shopping_sum_text {
    font-size: 18px;
    font-weight: 600;
}

.shopping_sum_price {
    font-size: 18px;
    font-weight: 600;
}

.form_input {
    font-family: 'Oranienbaum', serif;
    margin-top: 20px;
    width: 270px;
    padding: 6px;
    font-size: 17px;
    outline: none;
    border: 1px solid var(--grey);
    border-radius: 7px;
    transition: all 0.5s ease 0s;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
    appearance: none;
    -moz-appearance: textfield;
}

textarea.form_input {
    font-family: 'Oranienbaum', serif;
    font-size: 17px;
    min-height: 100px;
    resize: vertical;
    width: 100%;
}

.form_button_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 12px 0 0 0;
}

.form_button {
    width: 80%;
    background-color: var(--pink);
    border: 4px solid var(--white);
    border-radius: 15px;
    color: #ffffff;
    padding: 10px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}



@media screen and (max-width: 700px) {

    .shopping_container {
        padding: 40px 10px;
        border-radius: 7px;
    }

    .shopping_catalog_div {
        padding: 10px 3px;
        border-radius: 7px;
    }

    .shopping_div {
        width: 280px;
    }

    .shopping_img {
        width: 50px;
    }

    .shopping_name {
        font-size: 16px;
    }
    
    .shopping_price_one,
    .shopping_price {
        font-size: 16px;
    } 

    .shopping_sum_div {
        width: 280px;
    }

    .cart_quantity_input {
        margin-left: 5px;
    }
    
    /* .btn_danger {
        margin-left: 5px;
    } */

}
